HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### Mac
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
config/application.properties
config/keystore.p12
proxy.canvas.ox.ac.uk-key.pem
proxy.canvas.ox.ac.uk.csr
proxy.canvas.ox.ac.uk-chain.crt
proxy.canvas.ox.ac.uk-client.properties
proxy.mv.db
proxy.trace.db
proxy-dev.canvas.ox.ac.uk-key.pem
proxy-dev.canvas.ox.ac.uk.csr
proxy-dev.canvas.ox.ac.uk-client.properties
