files:  
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json": 
    mode: "000600"
    owner: root
    group: root
    content: |
        {
          "agent": {
            "metrics_collection_interval": 60,
            "run_as_user": "root"
          },
          "metrics": {
            "namespace": "CWAgent",
            "append_dimensions": {
              "InstanceId": "${aws:InstanceId}",
              "AutoScalingGroupName": "${aws:AutoScalingGroupName}"
            },
            "aggregation_dimensions":[["InstanceId"]],
            "metrics_collected": {
              "mem": {
                "measurement": [
                  {"name": "mem_used_percent", "rename":"Memory Used (%)","unit": "Percent"}
                ],
                "append_dimensions":{"envName":"ENV_NAME"}
              },
              "swap": {
                "measurement": [
                  {"name": "swap_used_percent", "rename":"Swap Used (%)","unit": "Percent"}
                ],
                "append_dimensions":{"envName":"ENV_NAME"}
              },
              "disk": {
                "resources": [
                  "/"
                ],
                "measurement": [
                  {"name": "disk_inodes_free", "unit":"Count"},
                  {"name": "disk_used_percent", "rename": "Root Disk Used (%)", "unit": "Percent"}
                ],
                "ignore_file_system_types": [
                  "sysfs", "devtmpfs"
                ],
                "append_dimensions":{"envName":"ENV_NAME"}
              },
              "cpu": {
                "measurement": [
                  {"name": "cpu_usage_iowait","unit":"Percent"},
                  {"name": "cpu_usage_system","unit":"Percent"},
                  {"name": "cpu_usage_user","unit":"Percent"}
                ],
                "append_dimensions":{"envName":"ENV_NAME"}
              }
            }
          }
        }
container_commands:
  set_env_name:
    command: |
      #!/bin/bash
      envName=$(/opt/elasticbeanstalk/bin/get-config container -k environment_name)
      sed -i "s/ENV_NAME/$envName/g" /opt/aws/amazon-cloudwatch-agent/bin/config.json
  start_cloudwatch_agent: 
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json