container_commands:
  disable_healthd_memory:
    command: |
      #!/bin/bash
      
      # Use wildcards so we are't version dependent
      cd /opt/elasticbeanstalk/lib/ruby/lib/ruby/gems/*/gems/healthd-sysstat-*-universal-linux/lib/healthd-sysstat
      
      # Removes the memory reporting
      sed -i.backup '/data = meminfo data/d' plugin.rb
      
      # kill healthd services (gets auto restarted)
      pkill -u healthd -f  puma