<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" href="{{{canvasCommonCss}}}" rel="stylesheet"/>
    <link type="text/css" href="{{{canvasBrandCss}}}" rel="stylesheet"/>
    <link type="text/css" href="/resources/login-done.css" rel="stylesheet"/>
    <title>{{applicationName}}: Done</title>
    <script type="text/javascript">
        if (window.opener) {
          window.opener.postMessage("token", '{{target}}');
        }
        
        function closer() {
            // If the calling tool didn't tell the browser to allow the opener we might not be able to tell the tool
            // if so we just ask the user to manually refresh the tool.
            if (!window.opener) {
                window.alert('Failed to automatically reload tool, please manually reload the tool after this window closes.');
            }
            window.close();
        }
    </script>
</head>
<body class="full-width modal body--error-confirmation no-headers  primary-nav-transitions full-width lato-font-not-loaded-yet webkit chrome no-touch">

<div id="application" class="ic-app">

    <div id="wrapper" class="ic-Layout-wrapper">
        <div id="main" class="ic-Layout-columns">
            <div id="not_right_side" class="ic-app-main-content">
                <div id="content-wrapper" class="ic-Layout-contentWrapper">

                    <div id="content" class="ic-Layout-contentMain" role="main">

                        <div id="modal-box" class="ic-Error-confirmation">
                            <header class="ic-Error-confirmation__header">
                                <h2>{{applicationName}}</h2>
                            </header>
                            <div class="ic-Error-confirmation__content">

                                <h2 class="ic-Error-confirmation__headline">
                                    Access Granted
                                </h2>
                                <p>
                                    <strong>Access to your account has been successfully granted.</strong>
                                </p>
                                <p>
                                    Close this window to continue.
                                </p>
                                <a class="Button Button--block" onclick="closer()">Close</a>
                                {{#reloginUrl}}
                                    <a class="Button Button--block" href="{{reloginUrl}}">Retry Authorization</a>
                                {{/reloginUrl}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- #application -->

</body>
</html>